
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct" data-aos="fade-up" data-aos-delay="300">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" cnt_inr">
                    <h3>
                        Our Departments
                        <span>
                            Pharmacy
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="prhC-inr" data-aos="fade-up" data-aos-delay="300">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-6">
                <div class="prCt">
                    <p>
                        The Pharmacy at Elite Medical Center provides the best medical services to walk-in and in-house guests. The pharmacy department consists of a team of qualified, friendly and professional pharmacists, licensed by the Supreme Council of Health, in addition
                        to the best pharmacy technicians. Pharmacy staff provides full instructions for the use of medications and are ready to provide any medical consultation requested by the guest in regards to the medications.<br><br>                            The pharmacy is open to all public and not limited to Elite Medical Center guests, and it provides service during the center’s working hours. The prices of medications available at the pharmacy of Elite medical center are the
                        same as in any other retail pharmacies in the country, as they are controlled by the Supreme Council of Health in Qatar.
                    </p>
                </div>
            </div>
            <div class="col-md-6" data-aos="fade-up" data-aos-delay="350">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/pharmacy_img.jpg" alt="pharmacy">
                        </div>
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/pharmacy_img_02.jpg" alt="pharmacy">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="prhC-cnt" data-aos="fade-up" data-aos-delay="300">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

