
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Our Departments
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="depts surg-pro">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_01.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Face/Neck Lifting</h4>
                        <p>A Face-Lift (rhytidectomy) is a cosmetic surgical procedure done to create a younger appearance in your face. </p>
                        @*<a href="~/Content/MainSite/ar/face-neck-lifting.html">Read more</a>*@
                        <a href="Department/FaceNeckLifting">Read more</a>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_02.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Rhinoplasty</h4>
                        <p>A Nose job (rhinoplasty) is a surgery on the nose to change its shape or improve its function. </p>
                        @*<a href="~/Content/MainSite/ar/rhinoplasty.html">Read more</a>*@
                        <a href="Department/Rhinoplasty">Read more</a>

                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_03.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Liposuction</h4>
                        <p>Liposuction is a surgical procedure that uses a suction technique to remove fat from specific areas of the body, such as ...</p>
                        @*<a href="~/Content/MainSite/ar/liposuction.html">Read more</a>*@
                        <a href="Department/Liposuction">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_04.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Blepharoplasty</h4>
                        <p>Blepharoplasty is a type of surgery that repairs droopy eyelids and may involve removing excess skin, muscle and fat. </p>
                        <a href="Department/Blepharoplasty">Read more</a>
                        @*<a href="~/Content/MainSite/ar/blepharoplasty.html">Read more</a>*@
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_05.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Lipofilling</h4>
                        <p>Lipofilling is a procedure in which fat is trans­ferred from one part of the body to another. </p>
                        <a href="~/Content/MainSite/ar/lipofilling.html">Read more</a>
                        @*<a href="Department/Liposuction">Read more</a>*@
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_06.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Buttock Lift/Augmentation</h4>
                        <p>Buttock Augmentation is a cosmetic surgery performed on patients who wish to have a fuller, rounder butt. </p>
                        @*<a href="~/Content/MainSite/ar/buttock-augmentation.html">Read more</a>*@

                        <a href="Department/ButtockAugmentation">Read more</a>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_07.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Breast Augmentation</h4>
                        <p>Breast Augmentation — also known as augmentation mammoplasty — is a surgery done to increase breast size. </p>
                        <a href="Department/BreastAugmentation">Read more</a>
                        @*<a href="~/Content/MainSite/ar/breast-augmentation.html">Read more</a>*@
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="dpt-lst">
                    <img src="~/Content/MainSite/images/srgc_08.jpg" class="img-fluid" alt="">
                    <div class="dep-cpat">
                        <h4>Abdominoplasty</h4>
                        <p>Abdominoplasty or “Tummy Tuck” is a cosmetic surgical procedure used to make the abdomen thinner and firmer. </p>
                        @*<a href="~/Content/MainSite/ar/abdominoplasty.html">Read more</a>*@
                        <a href="Department/Abdominoplasty">Read more</a>
                    </div>
                </div>

            </div>



        </div>
    </div>
</section>

