@model EliteHospital.Web.ViewModel.Booking.LoginViewModel
@{
    ViewBag.Title = "RedeemPoint";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string Name = ViewBag.name;
    int BalancePoints = Convert.ToInt32(ViewBag.BalancePoints);
    int patientId = Convert.ToInt32(ViewBag.patientId);
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <form id="form" name="redeempoints" action="/admin/Loyalty/RedeemPoint" method="post" enctype="multipart/form-data">
                <div class="heading-area">
                    <h6 class="add-heading">Redeem Points</h6>
                    <h6 class="user-name">@Name</h6>
                    <input name="patid" id="patid" type="hidden" value="@patientId">
                </div>
                <input name="patientid" id="patientid" class="form-control" type="hidden" value="@patientId">
                <hr />
                <div class="detail-area">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="input-heading">Apply Promo Code here</h6>
                            <span class="input-style">
                                <input style="text-indent: 0px;" class="clean-slide" name="promocode" id="promocode" type="text" onchange="checkpromocode()" placeholder="Enter Promo code">
                           <input type="text" name="validmsg" id="validmsg" style="display:none"/>
                            </span>
                        </div>
                        <div class="col-6">
                            <h6 class="input-heading">Choose Date</h6>
                            <span class="input-style">
                                <i class="fas fa-calendar-alt"></i>
                                <input class="clean-slide" id="redeemdate" name="redeemdate" type="date" placeholder="Choose Date" required />
                            </span>
                        </div>                
                        <div class="col-2 mt-4" style="display: flex; justify-content: center; align-items: end;">
                            <h6 class="input-heading"></h6>
                            <button type="submit" class="submit-btn">SUBMIT</button>
                        </div>
                        <div class="col-2 mt-4" style="display: flex; justify-content: center; align-items: end;">
                            <h6 class="input-heading"></h6>
                            <button type="reset" id="reset"  class="cancel-btn">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<style>
    .fa-calendar-alt {
        display: inline-block;
        position: absolute;
        transform: translateX(0);
        top: 0;
        left: 0;
        bottom: 0;
        padding: 15px 20px;
        font-size: 2vw;
        font-weight: 400;
        text-transform: uppercase;
        color: #c2c8d4;
        text-align: left;
        text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
        transition: all .3s ease-in-out, color .3s ease-out;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        overflow: hidden;
        margin: 0;
    }
    #promocode-error, #redeemdate-error {
        position: inherit !important;
        padding: 0 !important;
        color: #c40c20 !important;
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .heading-area {
        padding: 30px 0 0 35px;
    }

    .detail-area {
        padding: 5px 35px 35px 35px;
    }

    .add-heading {
        font-family: "poppins", sans;
        font-weight: 500;
        font-size: 1.7vw;
        color: #000;
        margin: 2px;
    }

    .user-name {
        color: #a8a4ab;
        font-family: "poppins", sans;
        font-weight: 500;
        font-size: 1vw;
    }

    .input-heading {
        color: #6f6f6f;
        font-family: "poppins", sans;
        font-weight: 400;
        font-size: 1vw;
    }

    .input-style {
        position: relative;
        display: block;
    }

    .clean-slide {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 15px 0 15px 15px;
        font-family: "poppins", sans;
        font-weight: 400;
        color: #000;
        background: none;
        border: 1px solid #b9b9b9;
        border-radius: 10px;
        outline: 0;
        transition: all .3s ease-in-out;
        text-indent: 60px;
    }

        .clean-slide::placeholder {
            font-weight: 400;
            color: #c5c5c5;
        }

        .clean-slide + label {
            display: inline-block;
            position: absolute;
            transform: translateX(0);
            top: 0;
            left: 0;
            bottom: 0;
            padding: 15px 20px;
            font-size: 1.2vw;
            font-weight: 400;
            text-transform: uppercase;
            color: #c2c8d4;
            text-align: left;
            text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
            transition: all .3s ease-in-out, color .3s ease-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            overflow: hidden;
            margin: 0;
        }

        .clean-slide + i {
            display: inline-block;
            position: absolute;
            transform: translateX(0);
            top: 0;
            left: 0;
            bottom: 0;
            padding: 15px 20px;
            font-size: 2vw;
            font-weight: 400;
            text-transform: uppercase;
            color: #c2c8d4;
            text-align: left;
            text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
            transition: all .3s ease-in-out, color .3s ease-out;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            overflow: hidden;
            margin: 0;
        }

    .points {
        display: block;
        position: absolute;
        transform: translateX(0);
        margin: 10px 10px;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 10px 20px;
        font-size: 1vw;
        font-weight: 400;
        text-transform: uppercase;
        color: #74ab53;
        text-align: left;
        text-shadow: 0 1px 0 rgb(255 255 255 / 40%);
        transition: all .3s ease-in-out, color .3s ease-out;
        overflow: hidden;
        border: none;
        border-left: 1px solid #c3c3c3;
        width: 100px;
    }

    textarea {
        width: 100%;
        font-family: "poppins", sans;
        font-weight: 400;
        color: #000;
        background: none;
        border: 1px solid #b9b9b9;
        border-radius: 10px;
        padding: 15px;
        height: 60px;
    }

    .submit-btn {
        color: #fff;
        border: none;
        padding: 13px;
        width: 100%;
        margin-bottom: 7px;
        border-radius: 12px;
        font-size: 1.1vw;
        background-color: #c40c20;
        box-shadow: rgb(196 12 32 / 20%) 0px 8px 24px;
        font-family: "poppins", sans;
        font-weight: 400;
    }

    .cancel-btn {
        color: #c40c20;
        border: none;
        padding: 13px;
        width: 100%;
        margin-bottom: 7px;
        border-radius: 12px;
        font-size: 1.1vw;
        background-color: #c40c2000;
        font-family: "poppins", sans;
        font-weight: 600;
        border: 1px solid #c40c20;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav-collapse-main ul li a").removeClass("active");
        $("#menuLoyaltyPoint").addClass("active");

        $("#pageHeader").text("Loyalty Points");
        $("#pageHeader1").text("Loyalty Points");

        $("#form").validate({
            rules:
            {
                promocode: "required",
                redeemdate: "required",
            },
            messages:
            {
                promocode: "*Enter promocode",
                redeemdate: "*Enter Date",
            },
            submitHandler: function (form) {
                var promocode = ($("#promocode").val());
                var patientid = parseFloat($("#patientid").val());
                $.get("/admin/Loyalty/checkpromocode", { promocode: promocode, patientid: patientid }, function (result) {
                    if (result == 'Already Exist') {
                        alert("This Coupon Code has been already used !");
                    }
                    else if (result == 'Invalid Entry') {
                        alert("Please Enter Valid Coupon Code !");
                    }
                    else {
                        form.submit();
                    }
                });

            }
        });

    });

    function checkpromocode() {
        var promocode = ($("#promocode").val());
        var patientid = parseFloat($("#patientid").val());
        $.get("/admin/Loyalty/checkpromocode", { promocode: promocode, patientid: patientid }, function (result) {
            if (result == 'Already Exist') {

                alert("This Coupon Code has been already used !");
            }
            else if (result == 'Invalid Entry') {
                $("#validmsg").append("<P>Please Enter Valid Coupon Code");
                /*alert("Please Enter Valid Coupon Code !");*/
            }
            else {

            }
        });
    }

    

</script>
