<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="HMSApiBaseUrl" value="http://23.254.226.29:83/API/"/>-->
    <add key="HMSApiBaseUrl" value="http://elite01.dyndns.org:82/API/" />
    <add key="HMSApiUserName" value="EliteUser"/>
    <add key="HMSApiPassword" value="Elite123"/>
  </appSettings>
</configuration>