
@{
    ViewBag.Title = "BreastAugmentation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Surgical Procedures
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Breast Augmentation/ Breast Lifting</div>
                    <p>Breast Augmentation — also known as augmentation mammoplasty — is a surgery done to increase breast size. It involves placing breast implants under breast tissue or chest muscles.</p>

                    <h4>Why It’s Done</h4>
                    <p>Breast Augmentation might help you:</p>
                    <ul>
                        <li>Enhance your appearance if you think your breasts are too small or that one is smaller than the other</li>
                        <li>Adjust for a reduction in the size of your breasts after pregnancy</li>
                        <li>Correct uneven breasts after breast surgery for other conditions</li>
                        <li>Improve your self-confidence</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/breast-augmentation.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Risks</h4>
                <p>Breast Augmentation poses various risks, including:</p>

                <ul>
                    <li>Scar tissue that distorts the shape of the breast implant (capsular contracture)</li>
                    <li>Breast pain</li>
                    <li>Infection</li>
                    <li>Changes in nipple and breast sensation</li>
                    <li>Implant leakage or rupture</li>
                </ul>
                <p>Scar management might include use of silicone sheeting, scar cream and massage. The appearance of your scar will improve over time.</p>

                <h4>After the Procedure</h4>
                <p>Soreness and swelling are likely for a few weeks after surgery. Bruising is possible, too. Expect scars to fade over time but not disappear completely.</p>

                <p><strong>Follow your surgeon’s instructions:</strong></p>
                <ul>
                    <li>While you’re healing, it might help to wear a compression bandage or sports bra for extra support and positioning of the breast implants. Your surgeon might prescribe pain medication as well.</li>
                    <li>
                        Follow your surgeon’s instructions about returning to regular activities. If you don’t have a physically demanding job, you might be able to return to work within a few weeks. Avoid strenuous activities — anything that could raise
                        your pulse or blood pressure — for at least two weeks. While you’re healing, remember that your breasts will be sensitive to physical contact or jarring movements.
                    </li>
                    <li>If your surgeon used sutures that don’t absorb on their own or placed drainage tubes near your breasts, you’ll need a follow-up appointment for removal.</li>
                    <li>If you notice warmth and redness in your breast or you run a fever, you might have an infection. Contact your surgeon as soon as possible.</li>
                    <li>Also contact your surgeon if you have shortness of breath or chest pain.</li>
                </ul>

                <h4>Results</h4>
                <p>
                    Breast Augmentation can change the size and shape of your breasts. The surgery might improve your body image and self-esteem. But keep your expectations realistic, and don’t expect perfection. <br><br> Also, your breasts will continue
                    to age after augmentation. Weight gain or weight loss might change the way your breasts look, too. If you become dissatisfied with the appearance of your breasts, you might need more surgery to correct these issues.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq">
                <h5>Frequently Asked Questions</h5>
                <span>Will breast augmentation increase my risk of breast cancer?</span>
                <p>
                    Many studies have shown that women who get implants are not at an increased risk for getting breast cancer. In addition, implants do not delay the detection of breast cancer. Numerous studies show that having implants does not hinder
                    the patient or their physician in finding breast tumors. Finally, breast implant patients who do get breast cancer have the same chance of obtaining remission, or being free of cancer for 5 years, as women without implants.
                </p>

                <span>Am I too old for the surgery?</span>
                <p>Many women in their 40s and 50s have undergone breast augmentation surgery with good results. The most common patient for this surgery is a woman in her 30s with two children who has been considering this operation for many years.</p>

                <span>Should I wait until I am done having children to have augmentation?</span>
                <p>
                    Pregnancy will change the size and shape of a woman’s breasts whether she has implants or not. These changes may adversely affect the cosmetic appearance of any augmented breast. It is usually recommended that pregnancy be postponed
                    until 6 months after the surgery.
                </p>

                <span>Can I breast feed after augmentation?</span>
                <p>
                    Yes. Placement of the implant below the breast tissue, as in sub glandular placement, does not affect the ability of the breast to produce milk. Similarly, submuscular placement, or implant placement below one of the chest muscles
                    preserves proper breast functioning. With the peri-areolar incision, an increased risk of breast-feeding problems may exist. In one study, 7/8 patients reported problems with breast-feeding following peri-areolar breast augmentation
                    surgery. For women who choose the infra-mammary or trans-axillary incision, (incisions under the breast and through the armpit), breastfeeding is usually not a problem. Be sure to discuss your breast feeding needs with your surgeon
                    during your consultation.
                </p>

                <span>How much pain can I expect?</span>
                <p>
                    The pain from breast augmentation surgery is usually in the moderate range and generally can be well controlled with medication in the first 1-2 weeks following the surgery. It is important to note that severe or untreatable pain following
                    surgery can mean infection or another complication.
                </p>


            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

