
@{
    ViewBag.Title = "Gynecomastia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Surgical Procedures
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Gynecomastia</div>
                    <p>
                        For men who feel self-conscious about their appearance, breast-reduction surgery can help. The procedure removes fat and or glandular tissue from the breasts, and in extreme cases removes excess skin, resulting in a chest that
                        is flatter, firmer, and better contoured.
                        <br><br> Surgery to correct gynecomastia can be performed on healthy, emotionally stable men of any age. The best candidates for surgery have firm, elastic skin that will reshape to the body’s new contours.
                        <br><br> Surgery may be discouraged for obese men, or for overweight men who have not first attempted to correct the problem with exercise or weight loss. Also, individuals who drink alcohol beverages in excess are usually
                        not considered good candidates for surgery. This, along with anabolic steroids, may cause gynecomastia. Therefore, patients are first directed to stop the use of these drugs to see if the breast fullness will diminish before
                        surgery is considered an option.
                    </p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/gynecomastia.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

