
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
        $(document).ready(() => {
            $(".lightgallery").lightGallery({
                pager: true
            });
        });
</script>

<section class="inr-cnct">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" cnt_inr">
                    <h3>
                        Media
                        <span>
                            Photos
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hm-specialization mdScn">
    <div class="dept-otr" data-aos="fade-up" data-aos-delay="300">
        <div class="row">
            <div class="col-md-12">

                <nav>
                    <div class="nav nav-tabs dept-tabs" id="nav-tab" role="tablist">
                        <div class="owl_1 owl-carousel owl-theme">
                            <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="nav-home" aria-selected="true" data-aos="fade-up" data-aos-delay="300">

                                <div class="tab-icon_bx">
                                    <p>IVF LAB</p>
                                </div>

                            </a>

                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu1" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="350">

                                <div class="tab-icon_bx">
                                    <p>Gynaecology</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#menu2" role="tab" aria-controls="nav-contact" aria-selected="false" data-aos="fade-up" data-aos-delay="400">
                                <div class="tab-icon_bx">
                                    <p>PAEDIATRICS</p>
                                </div>
                            </a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#menu3" role="tab" aria-controls="nav-contact" aria-selected="false" data-aos="fade-up" data-aos-delay="450">
                                <div class="tab-icon_bx">
                                    <p>OPERATION UNIT</p>
                                </div>
                            </a>
                            <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#menu4" role="tab" aria-controls="nav-contact" aria-selected="false" data-aos="fade-up" data-aos-delay="500">

                                <div class="tab-icon_bx">
                                    <p>INPATIENT UNIT</p>
                                </div>

                            </a>

                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu5" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>DERMATOLOGY</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu6" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>DENTAL</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu7" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>PHARMACY</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu8" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>LABORATORY</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu9" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>EMC LOBBY</p>
                                </div>

                            </a>
                            <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#menu10" role="tab" aria-controls="nav-profile" aria-selected="false" data-aos="fade-up" data-aos-delay="550">

                                <div class="tab-icon_bx">
                                    <p>EMC INAUGURATION</p>
                                </div>

                            </a>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="tab-content">
        <div id="home" class="tab-pane fade show active">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/ivf_01.jpg" data-src="../Content/MainSite/images/media/ivf_01.jpg" data-sub-html="" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/ivf_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/ivf_02.jpg" data-src="../Content/MainSite/images/media/ivf_02.jpg" data-sub-html="" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/ivf_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/ivf_03.jpg" data-src="../Content/MainSite/images/media/ivf_03.jpg" data-sub-html="" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/ivf_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/ivf_04.jpg" data-src="../Content/MainSite/images/media/ivf_04.jpg" data-sub-html="" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/ivf_04.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/ivf_05.jpg" data-src="../Content/MainSite/images/media/ivf_05.jpg" data-sub-html="" data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/ivf_05.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu1" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/gyn_01.jpg" data-src="../Content/MainSite/images/media/gyn_01.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/gyn_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/gyn_02.jpg" data-src="../Content/MainSite/images/media/gyn_02.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/gyn_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/gyn_03.jpg" data-src="../Content/MainSite/images/media/gyn_03.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/gyn_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/gyn_04.jpg" data-src="../Content/MainSite/images/media/gyn_04.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/gyn_04.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/gyn_05.jpg" data-src="../Content/MainSite/images/media/gyn_05.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/gyn_05.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/pdt_01.jpg" data-src="../Content/MainSite/images/media/pdt_01.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/pdt_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/pdt_02.jpg" data-src="../Content/MainSite/images/media/pdt_02.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/pdt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/pdt_03.jpg" data-src="../Content/MainSite/images/media/pdt_03.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/pdt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/pdt_04.jpg" data-src="../Content/MainSite/images/media/pdt_04.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/pdt_04.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/pdt_05.jpg" data-src="../Content/MainSite/images/media/pdt_05.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/pdt_05.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div id="menu3" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/opt_01.jpg" data-src="../Content/MainSite/images/media/opt_01.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/opt_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/opt_02.jpg" data-src="../Content/MainSite/images/media/opt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/opt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/opt_03.jpg" data-src="../Content/MainSite/images/media/opt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/opt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu4" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/epu_01.jpg" data-src="../Content/MainSite/images/media/epu_01.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/epu_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/epu_02.jpg" data-src="../Content/MainSite/images/media/epu_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/epu_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu5" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/drt_01.jpg" data-src="../Content/MainSite/images/media/drt_01.jpg" data-sub-html=" " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_02.jpg" data-src="../Content/MainSite/images/media/drt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_03.jpg" data-src="../Content/MainSite/images/media/drt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu6" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/dtl_01.jpg" data-src="../Content/MainSite/images/media/dtl_01.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/dtl_01.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/dtl_02.jpg" data-src="../Content/MainSite/images/media/dtl_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/dtl_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/dtl_03.jpg" data-src="../Content/MainSite/images/media/dtl_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/dtl_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu7" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/drt_02.jpg" data-src="../Content/MainSite/images/media/drt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_03.jpg" data-src="../Content/MainSite/images/media/drt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu8" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/drt_02.jpg" data-src="../Content/MainSite/images/media/drt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_03.jpg" data-src="../Content/MainSite/images/media/drt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu9" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/drt_02.jpg" data-src="../Content/MainSite/images/media/drt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_03.jpg" data-src="../Content/MainSite/images/media/drt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="menu10" class="tab-pane fade">
            <div class="demo-gallery">
                <ul class="lightgallery">
                    <li data-responsive="../Content/MainSite/images/media/drt_02.jpg" data-src="../Content/MainSite/images/media/drt_02.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_02.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                    <li data-responsive="../Content/MainSite/images/media/drt_03.jpg" data-src="../Content/MainSite/images/media/drt_03.jpg" data-sub-html="  " data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                        <a href="">
                            <img class="img-responsive" src="~/Content/MainSite/images/media/drt_03.jpg">
                            <div class="demo-gallery-poster">
                                <img src="~/Content/MainSite/images/zoom.png">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>

</section>

