
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mn-hd">My Lab Reports</h2>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>Oral glucose tolerance test</h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>Blood Test</h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>
                    Urinalysis Urine Test
                    Report
                </h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>Oral glucose tolerance test.</h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>Oral glucose tolerance test.</h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6 col-xl-4 repots">
            <div class="rpt-wrap">
                <h4>Oral glucose tolerance test</h4>
                <p>Date Uploaded: <strong>20NOV2020</strong></p>
                <div class="rpt-options">
                    <a class="dwnld-rpt mr-auto" href=""></a>
                    <a class="bt-view" href="#">VIEW</a>
                    <div class="dropdown">
                        <button class="btn btn-dots dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav ul li").removeClass("active");
        $("#menuReports").addClass("active");
    });
</script>

