
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}


<div class="main-content rwds">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mn-hd">Earn Loyalty</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs dt-tbs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="active" id="all-tab" data-toggle="tab" href="#all" role="tab" aria-controls="all" aria-selected="true">All </a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="dental-tab" data-toggle="tab" href="#dental" role="tab" aria-controls="dental" aria-selected="false">DENTAL</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="dermeto-tab" data-toggle="tab" href="#dermeto" role="tab" aria-controls="dermeto" aria-selected="false">DERMATOLOGY</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="nutrition-tab" data-toggle="tab" href="#nutrition" role="tab" aria-controls="nutrition" aria-selected="false">NUTRITION & SLIMMING UNIT</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a id="plastic-tab" data-toggle="tab" href="#plastic" role="tab" aria-controls="plastic" aria-selected="false">PLASTIC SURGERY</a>
                </li>
            </ul>
            <div class="tab-content mt-3 tbcnt" id="myTabContent">
                <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="all-tab">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-1.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Meso threads</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100</span>
                                            <span class="offPrice">QAR 75</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-2.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Hair Transplant</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 2000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-3.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Scaling & Polishing (Adult</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 1000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-4.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Rhinoplasty</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100000</span>
                                            <span class="offPrice">QAR 7500</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="dental" role="tabpanel" aria-labelledby="dental-tab">
                    <div class="row">

                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-2.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Hair Transplant</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 2000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-1.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Meso threads</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100</span>
                                            <span class="offPrice">QAR 75</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-3.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Scaling & Polishing (Adult</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 1000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-4.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Rhinoplasty</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100000</span>
                                            <span class="offPrice">QAR 7500</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="dermeto" role="tabpanel" aria-labelledby="dermeto-tab">
                    <div class="row">

                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-2.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Hair Transplant</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 2000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-3.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Scaling & Polishing (Adult</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 1000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-1.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Meso threads</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100</span>
                                            <span class="offPrice">QAR 75</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-4.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Rhinoplasty</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100000</span>
                                            <span class="offPrice">QAR 7500</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="nutrition" role="tabpanel" aria-labelledby="nutrition-tab">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-1.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Meso threads</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100</span>
                                            <span class="offPrice">QAR 75</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-2.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Hair Transplant</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 2000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-3.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Scaling & Polishing (Adult</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 1000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-4.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Rhinoplasty</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100000</span>
                                            <span class="offPrice">QAR 7500</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane fade" id="plastic" role="tabpanel" aria-labelledby="plastic-tab">
                    <div class="row">
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-1.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Meso threads</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100</span>
                                            <span class="offPrice">QAR 75</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-2.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Hair Transplant</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 2000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-3.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Scaling & Polishing (Adult</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 1000</span>
                                            <span class="offPrice">QAR 750</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-4 rewrd-list">
                            <div class="reward-wraper">
                                <div class="rewrd-img">
                                    <img src="~/Content/Site/Booking/images/reward-4.jpg" alt="">
                                </div>
                                <div class="rewrd-details">
                                    <h4>Rhinoplasty</h4>
                                    <div class="off-code">
                                        <span class="spent">750 QAR Spent</span>
                                        <span class="ponts">Earn 8 Points</span>
                                    </div>
                                    <div class="rwdprice">
                                        <div class="offPrce">
                                            <span class="rlPrice">QAR 100000</span>
                                            <span class="offPrice">QAR 7500</span>
                                        </div>
                                        <a href="#">BOOK NOW</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav ul li").removeClass("active");
        $("#menuLoyalty").addClass("active");
    });
</script>

