
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .inrBnr {
        background: url(Content/MainSite/images/about_img.JPG);
    }
</style>

<section class="BnrSc" data-aos="fade-up">
    <div class="inrBnr">
        <div class="cus-container">
            <div class="bnTx">

                <div class="sbT">Excellent Medical Services</div>
            </div>
        </div>
    </div>
</section>

<section class="inr-abt" data-aos="fade-up">
    <div class="cus-container">
        <div class="row abtCnt">
            <div class="col-md-6" data-aos="fade-up">
                <div class=" abt_inr">
                    <h3>
                        EMC
                        <span>
                            About Us
                        </span>
                    </h3>
                </div>
                <h4>ELITE MEDICAL CENTER</h4>
                <p>
                    @Html.Raw(ViewBag.AboutUs.ShortDescription)
                </p>

                <div class="row nwMsv">
                    <div class="col-md-12" data-aos="fade-up">
                        <h4>OUR VISION</h4>
                        <p>
                            @Html.Raw(ViewBag.AboutUs.OurVision)
                        </p>
                    </div>
                    <div class="col-md-12" data-aos="fade-up">
                        <h4>OUR MISSION</h4>
                        <p>
                            @Html.Raw(ViewBag.AboutUs.OurMission)
                        </p>
                    </div>
                    <div class="col-md-12" data-aos="fade-up">
                        <h4>OUR VALUES</h4>

                        <ul class="value-ltr">
                            <li><strong>E </strong> <span> xceptional</span></li>
                            <li><strong>L </strong> <span> uxurious</span></li>
                            <li><strong>I </strong> <span> nnovative</span></li>
                            <li><strong>T </strong> <span> eamwork</span></li>
                            <li><strong>E </strong> <span> xellence </span></li>
                        </ul>
                        <ul class="value-ltr">
                            <li><strong>C </strong> <span> ommitment </span></li>
                            <li><strong>A </strong> <span> countability</span></li>
                            <li><strong>R </strong> <span> espect</span></li>
                            <li><strong>E </strong> <span> ngagement </span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 " data-aos="fade-up">
                <div class="abtIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            @if (ViewBag.AboutUs.Image != null && ViewBag.AboutUs.Image.Length > 0)
                            {
                                var base64 = Convert.ToBase64String(ViewBag.AboutUs.Image);
                                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                                <img src="@imgSrc" alt="about">
                            }
                            else
                            {
                                <img src="#" alt="about">
                            }
                            @*<img src="~/Content/MainSite/images/about_img_02.jpg" alt="about">*@
                            <!--<div class="txtSc">
                                <div class="lgc"> <img src="images/logo_lg.png" alt="logo"></div>
                                <span>25 YEARS OF  EXPERIENCE</span>
                            </div>-->
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

