@{
    ViewBag.Title = "Abdominoplasty";
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}

<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Abdominoplasty</div>
                    <p>
                        Abdominoplasty or “tummy tuck” is a cosmetic surgical procedure used to make the abdomen thinner and firmer. The surgery involves the removal of excess skin and fat from the middle and lower abdomen in order to tighten the muscle
                        and fascia of the abdominal wall.
                    </p>

                    <p><strong>You might consider a tummy tuck if:</strong> </p>
                    <ul>
                        <li>You have excess skin that’s accumulated around the area of your bellybutton</li>
                        <li>You have a weak lower abdominal wall</li>
                        <li>Liposuction didn’t adequately improve the appearance of your abdomen</li>
                        <li>You previously had a C-section and have retracted scarring</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/abdominoplasty.jpg">
                        </div>
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/abdominoplasty_02.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Risks</h4>
                <p>A tummy tuck poses various risks, including:</p>

                <ul>
                    <li><strong>Fluid accumulation beneath the skin (seroma).</strong> Drainage tubes left in place after surgery can help reduce the risk of seroma.</li>
                    <li><strong> Poor wound healing.</strong> Sometimes areas along the incision line heal poorly or begin to separate.</li>
                    <li>The incision scar from a tummy tuck is permanent but is placed along the easily hidden bikini line.</li>
                    <li><strong> Tissue necrosis.</strong> During a tummy tuck, fatty tissue deep within your skin in the abdominal area might get damaged or die. Smoking increases the risk of tissue necrosis.</li>
                    <li><strong>Changes in skin sensation.</strong> During a tummy tuck, the repositioning of your abdominal tissues can affect superficial sensory nerves in the abdominal area, and infrequently, in the upper thighs.</li>
                    <li>
                        Like any other type of major surgery, a tummy tuck poses a risk of bleeding, infection and an adverse reaction to anesthesia.
                    </li>
                </ul>

                <h4>Before Your Surgery</h4>
                <p>Initially, you’ll talk to a plastic surgeon about a tummy tuck. During your first visit, your plastic surgeon will likely:</p>
                <ul>
                    <li>
                        <strong> Review your medical history.</strong> Be prepared to answer questions about current and past medical conditions. Talk about any medications you’re taking, or you have taken recently, as well as any surgeries you’ve had.
                        Tell your doctor if you are allergic to any medications. If your desire for a tummy tuck is related to weight loss, your doctor will likely ask detailed questions about your weight gain and loss.
                    </li>
                    <li><strong>Do a physical exam.</strong> To determine your treatment options, the doctor will examine your abdomen. The doctor might also take pictures of your abdomen for your medical record.</li>
                    <li>
                        <strong> Discuss your expectations.</strong> Explain why you want a tummy tuck, and what you’re hoping for in terms of appearance after the procedure. Make sure you understand the benefits and risks, including scarring. Keep in
                        mind that previous abdominal surgery might limit your results.
                    </li>
                </ul> <br>
                <p><strong>Before a tummy tuck you might also need to:</strong></p>
                <ul>
                    <li><strong>Stop smoking.</strong> Smoking decreases blood flow in the skin and can slow the healing process. In addition, smoking increases the risk of tissue damage.</li>
                    <li><strong> Avoid certain medications.</strong> You’ll likely need to avoid taking aspirin, anti-inflammatory drugs and herbal supplements, which can increase bleeding.</li>
                    <li>
                        <strong> Maintain a stable weight.</strong> Ideally, you’ll maintain a stable weight for at least 12 months before having a tummy tuck. If you’re severely overweight, your doctor will recommend that you lose weight before the procedure.
                        Significant weight loss after the procedure can diminish your results.
                    </li>
                    <li><strong> Arrange for help during recovery.</strong> Make plans for someone to drive you home after you leave the hospital and stay with you for at least the first night of your recovery at home.</li>
                </ul>

                <h4>What Can You Expect</h4>
                <p>
                    A tummy tuck is done in a hospital or an outpatient surgical facility. During a tummy tuck, you’ll be under general anesthesia — which makes you completely unconscious and unable to feel pain. In some cases, you might be given an analgesic
                    and be moderately sedated (partially asleep).
                </p>

                <h4>During The Surgery</h4>
                <p>
                    Your plastic surgeon will make incisions to remove most of the skin and fat between your bellybutton and pubic hair in a horizontal oval or elliptical shape. The fascia, which overlies the abdominal muscles, will be tightened with
                    permanent sutures. <br> <br> Your plastic surgeon will then reposition the skin around your bellybutton. Your bellybutton will be brought out through a small incision and sutured in its normal position. The incision from hip to
                    hip above the pubic hair will be stitched together and will leave a scar that falls along the natural crease within the bikini line. <br><br> During the procedure you might be given an antibiotic to prevent infection.<br><br> The
                    procedure typically takes about three hours.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq">
                <h5>Frequently Asked Questions</h5>
                <span>What’s the difference between a full and mini tummy tuck?</span>
                <p>
                    Both full and mini abdomino-plasties involve the tightening of abdominal muscles and the removal of excess skin. The main difference is that the full tummy tuck is typically employed to rejuvenate the areas both above and below the
                    belly button whereas the mini tummy tuck is generally confined to the lower abdomen below the belly button.
                </p>

                <span>What is recovery like?</span>
                <p>
                    Following tummy tuck surgery, drain tubes will need to be left in place for about one week. Most patients experience some bruising and/or swelling, though these symptoms should subside over the course of a few weeks. Most individuals
                    can return to non-strenuous jobs or activities after about one to two weeks; however, heavy lifting and/or strenuous physical labor should be avoided for at least six to eight weeks. To help facilitate healing, patients are often
                    encouraged to walk around as soon as they feel comfortable enough to do so.
                </p>

                <span>Will there be much pain after surgery?</span>
                <p>Mild to moderate discomfort may be possible in the days following abdominoplasty, but any pain can often be managed and even alleviated with medication.</p>

                <span>Will my scars be noticeable?</span>
                <p>Incisions for tummy tuck surgery are made low on the abdomen – often near the pubic region – so any potential scarring can often be concealed by most articles of clothing, including bathing suits and most underwear varieties.</p>

                <span>Is it okay to have tummy tuck surgery before having children?</span>
                <p>
                    While there are typically no major risks associated with becoming pregnant after tummy tuck surgery, it is typically recommended that patients wait until they are done having children before undergoing the procedure. Doing so can help
                    ensure the results achieved are not compromised by the bodily changes that often occur during pregnancy.
                </p>

            </div>
        </div>
    </div>
</section>
