@{
    ViewBag.Title = "PlasticSurgeryForMobileArabicApp";
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}

<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Hair Transplant</div>
                    <p>
                        Hair Transplantation is a surgical technique that removes hair follicles from one part of the body, and is transplanted to a bald or balding part of the body. This treatment can be offered to male & females. The most popular treatment
                        areas for a hair transplant are the head and the beard area. Pain is minimal as the procedure is carried out under local anesthetic, but you may experience some mild discomfort at the transplant site as well as in the area
                        where hair was taken from for a few days following the procedure. Side effects are minimal, the most common is scarring as this cannot be avoided with any procedure.
                    </p>

                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/derma-04.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
