@{
    ViewBag.Title = "PlasticSurgeryForMobileArabicApp";
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}
<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Blepharoplasty</div>
                    <p>
                        Blepharoplasty is a type of surgery that repairs droopy eyelids and may involve removing excess skin, muscle and fat. As you age, your eyelids stretch, and the muscles supporting them weaken. As a result, excess fat may gather
                        above and below your eyelids, causing sagging eyebrows, droopy upper lids and bags under your eyes.
                    </p>

                    <h4>Why It’s Done</h4>
                    <p>
                        You might consider blepharoplasty if droopy or sagging eyelids keep your eyes from opening completely or pull down your lower eyelids. Removing excess tissue from your upper eyelids can improve your vision. Upper and lower lid
                        blepharoplasty can make your eyes appear younger and more alert.
                    </p>
                    <p> <strong>Blepharoplasty may be an option if you have:</strong> </p>
                    <ul>
                        <li>Baggy or droopy upper eyelids</li>
                        <li>Excess skin of the upper eyelids that interferes with your peripheral vision</li>
                        <li>Excess skin on the lower eyelids</li>
                        <li>Bags under your eyes</li>
                    </ul>

                    <p>
                        You may undergo blepharoplasty at the same time as another procedure, such as a brow lift, face-lift or skin resurfacing. <br><br> Insurance coverage may depend on whether the surgery repairs a condition that impairs vision. If
                        you have the surgery only to improve your appearance, the cost probably won’t be covered by insurance.
                    </p>



                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/blepharoplasty_01.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Risks</h4>
                <p>Possible risks of eyelid surgery include:</p>
                <ul>
                    <li>Infection and bleeding</li>
                    <li>Dry, irritated eyes</li>
                    <li>Difficulty closing your eyes or other eyelid problems</li>
                    <li>Noticeable scarring</li>
                    <li>Injury to eye muscles, Skin discoloration</li>
                    <li>The need for a follow-up surgery</li>
                    <li>Temporarily blurred vision or, rarely, loss of eyesight</li>
                    <li>Risks associated with surgery in general, including reaction to anesthesia and blood clots</li>
                </ul>

                <p>Talk to your doctor about how surgical risks apply to you. Understanding what’s involved in blepharoplasty and weighing the benefits and risks can help you decide if this procedure is a good option.</p>

                <h4>What You Can Expect Before the Procedure.</h4>
                <p>Blepharoplasty is usually done in an outpatient setting. Your surgeon injects numbing medication into your eyelids and administers intravenous medication to help you relax.</p>

                <h4>After The Procedure</h4>
                <p>After surgery, you spend time in a recovery room, where you are monitored for complications. You can leave later that day to recuperate at home.</p>

                <p><strong>After surgery, you may temporarily experience:</strong></p>
                <ul>
                    <li>Blurred vision from the lubricating ointment applied to your eyes</li>
                    <li>Watering eyes</li>
                    <li>Light sensitivity, Double vision</li>
                    <li>Puffy, numb eyelids</li>
                    <li>Swelling and bruising </li>
                    <li>Pain or discomfort</li>
                </ul>

                <p><strong>Your doctor will likely suggest you take the following steps after surgery:</strong></p>

                <ul>
                    <li>Gently clean your eyelids and use prescribed eye drops or ointments.</li>
                    <li>Avoid straining, heavy lifting and swimming for a week.</li>
                    <li>Avoid strenuous activities, such as aerobics and jogging, for a week.</li>
                    <li>Avoid smoking.</li>
                    <li>Avoid rubbing your eyes.</li>
                    <li>If you use contact lenses, don’t put them in for about two weeks after surgery.</li>
                    <li>Wear darkly tinted sunglasses to protect the skin of your eyelids from sun and wind.</li>
                    <li>Sleep with your head raised higher than your chest for a few days.</li>
                    <li>Apply cool compresses to reduce swelling.</li>
                    <li>After a few days, return to the doctor’s office to have stitches removed, if needed.</li>
                    <li>
                        For about a week, avoid aspirin, ibuprofen (Advil, Motrin IB, others), naproxen sodium (Aleve, others), naproxen (Naprosyn), and other medications or herbal supplements that may increase bleeding. If needed, use acetaminophen (Tylenol,
                        others) to control pain.
                    </li>
                </ul>

                <p><strong>Seek medical attention immediately if you experience any of the following:</strong></p>

                <ul>
                    <li>Shortness of breath or chest pain</li>
                    <li>An unusual heart rate</li>
                    <li>Severe new eye pain</li>
                    <li>Bleeding</li>
                    <li>Vision problems</li>
                </ul>

                <h4>Results</h4>
                <p>
                    Many people express satisfaction with the results of blepharoplasty, such as a more rested and youthful appearance and more self-confidence. For some people, results of surgery may last a lifetime. For others, droopy eyelids may recur.
                    <br><br> Bruising and swelling generally subside in 10 to 14 days, which may be when you feel comfortable going out in public again. Scars from the surgical cuts may take months to fade. Take care to protect your delicate eyelid
                    skin from too much sun exposure.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq">
                <h5>Frequently Asked Questions</h5>
                <span>How long does eyelid surgery take?</span>
                <p>Each procedure is unique and the total time in surgery depends on whether it involves the upper eyelids or lower eyelids, or both. Most cases take about 1 to 2 hours.</p>

                <span>What type of anesthesia is being use?</span>
                <p>
                    When upper eyelid surgery is performed as a stand-alone procedure, a local anesthetic is enough to keep a patient comfortable without using general anesthesia. Combining upper and lower eyelid surgery requires local anesthesia with
                    sedation or light general anesthesia.
                </p>

                <span>How long will the effects last?</span>
                <p>Eyelid surgery, just like all facial plastic surgery, doesn’t stop the aging process. But it will turn back the clock, and the results should last at least 10 years.</p>

                <span>How much recovery time should I allow?</span>
                <p>
                    Bruising and swelling after eyelid surgery generally subside enough within 7-10 days for most patients to comfortably return to work and resume normal social activities. <br><br> However, swelling will still be present a couple of
                    months. We typically let patients return to their workout in 3 weeks. If you have a particularly rigorous workout, we might even recommend waiting longer to resume your routine.
                </p>
            </div>
        </div>
    </div>
</section>
