@{
    ViewBag.Title = "PlasticSurgeryForMobileArabicApp";
    Layout = "~/Views/Shared/_ViewPage1.cshtml";
}




<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Rhinoplasty</div>
                    <p>
                        A Nose job (rhinoplasty) is a surgery on the nose to change its shape or improve its function. It can be done for medical reasons — such as to correct breathing problems related to the nose or correct disfigurement resulting from trauma or birth defects.
                    </p>
                    <h4>Risk</h4>
                    <p>As with any major surgery, rhinoplasty carries risks such as bleeding, infection and an adverse reaction to the anesthesia. Other possible risks specific to rhinoplasty include:</p>
                    <ul>
                        <li>Recurring nosebleeds</li>
                        <li>Difficulty breathing through your nose</li>
                        <li>Permanent numbness in and around your nose</li>
                        <li>Possibility of an uneven-looking nose</li>
                        <li>Pain, discoloration or swelling that may persist</li>
                        <li>Scarring</li>
                        <li>Hole in the septum (septal perforation)</li>
                    </ul>
                    <p>Talk to your doctor about how these risks apply to you.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/rhinoplasty_01.jpg">
                        </div>
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/rhinoplasty_02.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Food And Medication</h4>
                <p>Avoid medications containing aspirin or ibuprofen (Advil, Motrin IB, others) for two weeks before and after surgery. These medications may increase bleeding. Take only those medications approved or prescribed by your surgeon. <br><br>                        Smoking slows the healing process after surgery and may make you more likely to get an infection.</p>

                <h4>After The Surgery</h4>
                <ul>
                    <li>Avoid strenuous activities such as aerobics and jogging.</li>
                    <li>Take baths instead of showers while you have bandages on your nose.</li>
                    <li>Don’t blow your nose.</li>
                    <li>Eat high-fiber foods, such as fruits and vegetables, to avoid constipation. Constipation can cause you to strain, putting pressure on the surgery site.</li>
                    <li>Avoid extreme facial expressions, such as smiling or laughing.</li>
                    <li>Brush your teeth gently to limit movement of your upper lip</li>
                    <li>Wear clothes that fasten in the front; don’t pull clothing, such as shirts or sweaters, over your head.</li>
                </ul>
                <h4>Results</h4>
                <p>
                    Very slight changes to the structure of your nose can make a large difference in how your nose looks. Most of the time, an experienced surgeon can get results both of you are satisfied with. But in some cases, the slight changes aren’t
                    enough, and you and your surgeon might opt for a second surgery for further refinements. If this is the case, you must wait at least a year for the follow-up surgery, because your nose can undergo changes during this time.
                </p>

                <h4>Results</h4>
                <p>A face-lift can give your face and neck a more youthful appearance. Face-lift results are not permanent. With age, the facial skin may begin to droop again. In general, a face-lift can be expected to last 10 years.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq">
                <h5>Frequently Asked Questions</h5>
                <span>Will I need to stay in the hospital?</span>
                <p>
                    Nearly everyone who has rhinoplasty is able to safely leave the hospital after surgery. In very rare cases, you may stay in the hospital for one night if you are having a hard time with nausea or have other health problems that need
                    to be monitored.
                </p>
                <span>How long is the recovery period?</span>
                <p>
                    Plan to take a week off from work, school or other obligations. You will feel progressively better each day during the first week. By the one-week appointment, people usually feel like they are themselves again. <br><br> After surgery,
                    there will be some swelling. The swelling can take many months to resolve although most people stop noticing it after a couple of months. People are typically back to performing most activities after a week and resuming all activities
                    after two to four weeks.
                </p>
                <span>Are there risks?</span>
                <p>All surgeries have risks. Fortunately, the risks for rhinoplasty are small and complications are rare. Your doctor will talk to you about the risks and benefits of surgery in detail before the operation.</p>
                <span>How much does rhinoplasty cost?</span>
                <p>The cost of a rhinoplasty depends on the complexity of the surgery. </p>
                <span>Can I see what my nose might look like after surgery?</span>
                <p>Yes. Before your consultation, your doctor will take standardized photographs of multiple views of your face. These photos can be manipulated to give you an idea of what your nose might look like after surgery.</p>
                <span>Is rhinoplasty painful?</span>
                <p>Not for most people. At the one-day post-operative visit, most people rate their pain between 0-4 out of 10.</p>
            </div>
        </div>
    </div>
</section>



