
@{
    ViewBag.Title = "DermatologySkincare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class=" cnt_inr">
                    <h3>
                        Our Departments
                        <span>
                            Dermatology and Skin Care
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="evtCt">
                    <div class="ttL">Dermatology and Skin Care</div>

                    <p>
                        Elite Medical Center's Dermatology Department has gained an excellent reputation for many aesthetically pleasing and medical procedures. Our Dermatologists have a joint range of experiences spanning over 40 years and therefore
                        equips them to treat a wide range of conditions with their knowledge of skin & excellent diagnostic skills. At Elite Medical Center we offer skin consultations with some of the most up to date machinery and equipment in a safe
                        & clean environment. The Dermatologist may prescribe medication for the treatment of your skin condition which can be availed from the Elite Medical Center Pharmacy on the ground floor.
                    </p>

                    <h3 class="dtl-hd mb-3">Skin Rejuvenation</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-01.jpg" class="img-fluid" alt="">
                                    <h4>Mesotherapy</h4>
                                </div>
                                <div class="cont-derm">

                                    <p>Mesotherapy is a procedure in which the skin is injected with nutrients such as vitamins, minerals, amino acids, and hyaluronic acid. Types and uses of Mesotherapy:</p>
                                    <ul class="derm-list">
                                        <li>Mesotherapy for the treatment of scars.</li>
                                        <li>Mesotherapy to treat dark circles under the eyes.</li>
                                        <li>Mesotherapy for the treatment of hair loss (hair restoration).</li>
                                        <li>Mesotherapy to tighten the face and neck.</li>
                                        <li>Mesotherapy for the freshness of lips.</li>
                                        <li>Mesotherapy for hands rejuvenation.</li>
                                        <li>Mesotherapy for fat resolving.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-02.jpg" class="img-fluid" alt="">
                                    <h4>Facial Silk Peel</h4>
                                </div>
                                <div class="cont-derm">

                                    <p>
                                        Silk Peel combines exfoliation with an infusion of serums that will help to improve and revitalize your skin. Silk Peel starts with a deep cleaning of the chosen area which lasts for up to one hour. Once the deep
                                        cleansing is finished a clarifying mask is applied to open your pores and to additionally smooth imperfections. After the treatment, you will notice your skin will look and feel refined and polished as well
                                        generally healthier.
                                    </p>
                                </div>
                            </div>


                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-03.jpg" class="img-fluid" alt="">
                                    <h4>Lip Enhancement</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>To reduce pigmentation of the lips, and to have brighter, smoother, lighter and fuller lips. We offer the following treatments:</p>
                                    <ul class="derm-list">
                                        <li>Mesotherapy sessions.</li>
                                        <li>Q plus sessions.</li>
                                        <li>Filler, one session every 6 month.</li>
                                    </ul>
                                </div>
                            </div>


                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-04.jpg" class="img-fluid" alt="">
                                    <h4>Platelet-Rich Plasma (PRP)</h4>
                                </div>
                                <div class="cont-derm">

                                    <p>
                                        PRP Plasma is prepared by withdrawing a small amount of blood from the patient, it is then passed through a device to separate plasma-rich platelets from red blood cells. The product called (PRP) then gets injected
                                        into the desired area through the course of therapy 3-5 Sessions with monthly intervals:
                                    </p>
                                    <ul class="derm-list">
                                        <li>Plasma for the freshness of the face</li>
                                        <li>Plasma to strengthen hair growth</li>
                                        <li>Plasma for hand rejuvenation</li>
                                        <li>Treatment of dark circles under the eyes.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-05.jpg" class="img-fluid" alt="">
                                    <h4>Hydra facial</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>Is a type of light peeling that removes the upper layer of the skin while applying drugs, solutions, and vitamins into the layers of the skin. The expected results:</p>
                                    <ul class="derm-list">
                                        <li> Gives immediate freshness to the skin.</li>
                                        <li> There is a slight redness in the skin that lasts for around one hour after treatment.</li>
                                        <li> This kind of peeling is suitable for all skin types and the patient can resume day to day activities directly after.</li>
                                        <li> Skin cleansing can be repeated every 3 weeks.</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-06.jpg" class="img-fluid" alt="">
                                    <h4>Chemical peel</h4>
                                </div>
                                <div class="cont-derm">

                                    <p>
                                        It is a safe, smooth, and painless cosmetic procedure to improve the skin appearance. There are several types of chemical peels, including superficial and deep. The type of peeling and the product used is selected
                                        by the doctor after examination of the patient.
                                        </br>
                                        </br>
                                        Benefits of Chemical Peeling:
                                    </p>
                                    <ul class="derm-list">
                                        <li> Unify skin and give it freshness</li>
                                        <li> Stimulates collagen & thus cleanses the skin from wrinkles</li>
                                        <li> Reduces enlarged pores</li>
                                        <li> Treatment of acne & acne scars</li>
                                        <li> Removes pigmentation</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-07.jpg" class="img-fluid" alt="">
                                    <h4>Non-chemical peeling</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Helps to stimulate the blood circulation of the skin by peeling its upper layers, which help to produce new cells and collagen tissues. It is based on the treatment and improvement of the skin to give it more vitality
                                        and youthful looks. It removes signs of aging, sunburn pigmentation, acne, as well as, fine wrinkles. It can be used to treat the abdomen, upper arms, and thighs to remove the roughness of the skin on the thighs
                                        and arms, and wrinkled hands.
                                    </p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-08.jpg" class="img-fluid" alt="">
                                    <h4>Laser carboni</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Laser Carboni removes dead skin cells, make up residues, as well as creams and bacteria accumulated in the pores which cannot be removed by usual skin cleaning.
                                        <br> Laser Carboni treats fine lines and wrinkles, removes blackheads and encourages skin peeling which refreshes the skin.
                                    </p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-09.jpg" class="img-fluid" alt="">
                                    <h4>Treatment of pigmentation with Q-Switch</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Short and long pulses of Q-Switch light energy in a fraction of a millionth of a second. This energy turns into heat that causes the pigment to be fragmented and released into the skin. Natural skin processes re-absorb
                                        these parts and then discard them in the lymphatic system. The color change caused by hyperpigmentation will then fade and disappear.
                                    </p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-10.jpg" class="img-fluid" alt="">
                                    <h4>Acne treatment</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Q-Switch is considered an ideal treatment for rejuvenating the skin without surgery. By creating a thermal effect on the skin, this stimulates the rejuvenation of skin cells, reducing large pores, treating acne
                                        scars as well as controlling the level of fats production.
                                    </p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-11.jpg" class="img-fluid" alt="">
                                    <h4>Fractional laser</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Fractional Laser is an advanced treatment of the skin. The target area of the skin is exposed to the laser which activates skin cells to divide, regenerate, and produce collagen to leave skin looking fresh and healthy.
                                        The difference between conventional laser recovery and fractional laser is the period of recovery and severe swelling and redness. The side effects of fractional laser will last between 3 days to a week maximum.
                                    </p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-12.jpg" class="img-fluid" alt="">
                                    <h4>Tattoo removal - Q Switch</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Q-Switch is able to remove tattoos and pigmentation with a laser, by penetrating the layers of the skin which then heats the tattoo particles and separates them into smaller parts, which the body then removes. This
                                        technique is painless and safe. The patient can resume day to day activities after the session. The tattoo is removed in its various colors such as blue, black, red and green.
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>



                    <h3 class="dtl-hd mt-5 mb-3">Wrinkle Treatments</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-13.jpg" class="img-fluid" alt="">
                                    <h4>Facelift with threads</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>Facial threads tighten tissues and increase blood supply resulting in an immediate tightening effect leaving you looking up to 5 years young. The procedure is quick, pain is minimal with long lasting results.</p>
                                </div>
                            </div>
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-15.jpg" class="img-fluid" alt="">
                                    <h4>Botox</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>
                                        Botox is a substance derived from a particular type of bacteria called Clostridium botulinum. This substance is called botulinum toxin, recently it has been used in many medical operations. When injected into the
                                        skin, Botox prevents the delivery of nerve impulses to the muscles, reducing muscular tension and muscle contraction. This greatly relaxes muscles and reduces the appearance of wrinkles, making the face appear
                                        flat and more comfortable.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="derm-cont">
                                <div class="derma-img">
                                    <img src="~/Content/MainSite/images/derma-14.jpg" class="img-fluid" alt="">
                                    <h4>Filler</h4>
                                </div>
                                <div class="cont-derm">
                                    <p>Is an injection of hyaluronic acid that gets injected into the skin with special needles after local anesthesia, Filler treats:</p>
                                    <ul class="derm-list">
                                        <li>Wrinkle caused by aging.</li>
                                        <li>Scars.</li>
                                        <li>Hyaluronic acid is equivalent to human collagen, leaving you looking fresher and leaves the skin with more moisture immediately after the injection.</li>
                                        <li>It adds volume to the lips and the cheeks.</li>
                                        <li>Reduces dark circles under the eyes.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <h3 class="dtl-hd mt-5 mb-3">Laser Treatment</h3>
                    <img src="~/Content/MainSite/images/hair-1.jpg" class="img-fluid mb-4" alt="">
                    <h5>Laser Hair Removal</h5>
                    <p>
                        Laser Hair Removal is the process of permanent hair removal by exposure to pulses of laser that destroy the hair follicle. Multiple treatments are required depending on the type of hair, skin color and the area being treated however
                        in most cases a minimum of eight treatments is suffice. Minimal pricking pain can be expected with this treatment however numbing cream is available should it be required. Side effects may occur including itching, pink skin,
                        redness and swelling around the treatment area. Both male and female can have laser hair removal treatments.
                    </p>
                    <h3 class="dtl-hd mt-5 mb-3">Hair Treatment</h3>
                    <img src="~/Content/MainSite/images/hair-2.jpg" class="img-fluid mb-4" alt="">
                    <h5>Hair Lightening (Q - Switch)</h5>
                    <p>
                        This technology is used as an ideal solution for fine hair that cannot be removed. it relys on lightening the hair so that it becomes invisible, without any possibility to re-stimulate growth. The laser targets melanin in the hair
                        shaft, making it less visible. This laser treats any skin type. All areas of the body can be treated safely and effectively except around eyes. This treatment is recommended every 4 to 6 weeks if needed.
                        <br><a class="ph-dp" href="tel:(+974) 44 960 950"><i class="fas fa-phone-square-alt"></i> (+974) 44 960 950</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="find-drs dpt-find-drs">
    <div class="dptdr-hd" data-aos="fade-up" data-aos-delay="300">
        Doctors
        <div class="tb-main-hd">
            <h4>Our Doctors</h4><span>Dermatology & Skin Care</span>
        </div>
    </div>
    <div class="cus-container">
        <div class="row">

            <div class="col-md-12 dr-lizt">
                <div class="owl-carousel dpt-dr-slider">



                    <div class="dr-list">
                        <img src="~/Content/MainSite/images/doctors-hm/maisam.jpg" alt="">
                        <div class="dr-dtls-wraper">
                            <div class="pro-dtls">
                                <h5>Dr. Maisam Ramadan</h5>
                                <p>Dermatology Department</p>
                                <small>
                                    Dermatologist
                                </small>
                                <div class="bk-apmt">

                                    <a class="bk-cpt bookappointment" href="#">Book An Appointment</a>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

