
@{
    ViewBag.Title = "FaceNeckLifting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Surgical Procedures
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Face/Neck Lifting</div>
                    <p>
                        A Face-Lift (rhytidectomy) is a cosmetic surgical procedure done to create a younger appearance in your face. The procedure can reduce the sagging or folds of skin on the cheeks and jawline and other changes in the shape of your face that occur with age.
                        A neck lift (platysmaplasty) is often done as part of a face-lift to reduce fat deposits and sagging skin on the neck.
                    </p>
                    <h4>Why It’s Done</h4>
                    <p>As you get older, the appearance and shape of your face is altered because of normal age-related changes. Age-related changes in your face that may be reduced with a face-lift include the following:</p>
                    <ul>
                        <li>Sagging appearance of your cheeks</li>
                        <li>Excess skin at your lower jawline (jowls)</li>
                        <li>Deepening of the fold of skin from the side of your nose to the corner of your mouth</li>
                        <li>Sagging skin and excess fat in the neck (if the procedure includes a neck lift)</li>
                    </ul>
                    <p>A Face-Lift isn’t a treatment for superficial wrinkles, sun damage, creases around the nose and upper lip, or irregularities in skin color.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/face_lft_01.jpg">
                        </div>
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/face_lft_02.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>After The Procedure</h4>
                <p>After a face-lift, you may experience:</p>
                <ul>
                    <li>Mild to moderate pain</li>
                    <li>Drainage from the incisions</li>
                    <li>Swelling, Bruising and Numbness</li>
                </ul>
                <p>Contact your doctor immediately if you have:</p>
                <ul>
                    <li>Severe pain on one side of your face or neck within 24 hours of surgery, Shortness of breath or chest pain</li>
                    <li>Irregular heartbeats</li>
                </ul>
                <p>
                    Your incisions will likely be covered with bandages that provide gentle pressure to minimize swelling and bruising. A small tube might be placed under the skin behind one or both of your ears to drain any excess blood or fluid. In
                    the first few days after surgery:
                </p>
                <ul>
                    <li>Rest with your head elevated</li>
                    <li>Take pain medication as recommended by your doctor</li>
                    <li>Apply cool packs to the face to ease pain and reduce swelling</li>
                </ul>

                <h4>Follow-up Appointments</h4>
                <p>You will have several follow-up appointments scheduled during the next two months after surgery. They will include the following:</p>
                <ul>
                    <li>The day after surgery, your surgeon will likely remove your drainage tube, apply antibiotic ointment to your incisions and place new bandages on your face.</li>
                    <li>Two to three days after your face-lift, you may be able to switch from wearing bandages to wearing an elasticized facial sling.</li>
                    <li>About a week after surgery, your doctor will remove your stitches and assess the wound.</li>
                </ul>
                <p>Subsequent visits will likely be scheduled to monitor your progress.</p>

                <h4>Self-Care</h4>
                <p>Self-care at home during the first three weeks will help your recovery and minimize the risk of complications:</p>
                <ul>
                    <li>Follow wound care instructions as directed by your surgeon.</li>
                    <li>Do not pick at crusting scabs that develop on your wound.</li>
                    <li>Follow instructions on when you can begin using shampoo and soaps and what kinds you can use.</li>
                    <li>Wear clothes that fasten in the front (rather than clothes that are pulled over the head).</li>
                    <li>Avoid excessive pressure or motion on and around the incisions.</li>
                    <li>Avoid using makeup.</li>
                    <li>Avoid vigorous or aerobic activity or sports.</li>
                    <li>Avoid direct sun exposure to the incision for three weeks and use a sunscreen of SPF 30 or higher thereafter.</li>
                    <li>Avoid coloring, bleaching or perming hair for at least six weeks.</li>
                </ul>
                <p>In the weeks after a face-lift, you might style your hair to hide any remaining signs of the incision. You may also choose to delay attending major social events for a couple of months, when you are likely to feel back to normal.</p>
                <h4>Results</h4>
                <p>A face-lift can give your face and neck a more youthful appearance. Face-lift results are not permanent. With age, the facial skin may begin to droop again. In general, a face-lift can be expected to last 10 years.</p>
            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

