
@{
    ViewBag.Title = "FemaleBreastSurgery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Surgical Procedures
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Female Breast Surgery </div>
                    <h4>Breast Enlargement</h4>
                    <p>Salt water is pumped into a strong silicone film to be implanted inside the breast. A small incision is made in the chest area where the silicone implant is inserted and implanted either behind or in front of the chest muscles.</p>
                    <h4>Breast Augmentation With Fat: </h4>
                    <p>Fat is taken from other areas of the body and after being filtered and purified, it is then re-injected into the chest area.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/srgc_07.jpg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

