
@{
    ViewBag.Title = "Liposuction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="inr-cnct inr-hd">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="cnt_inr">
                    <h3>
                        Surgical Procedures
                        <span>
                            Surgical Procedures
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="evTdt-inr">
    <div class="cus-container">
        <div class="row">
            <div class="col-lg-6">
                <div class="evtCt">
                    <div class="ttL">Liposuction</div>
                    <p>
                        Liposuction is a surgical procedure that uses a suction technique to remove fat from specific areas of the body, such as the abdomen, hips, thighs, buttocks, arms or neck. Liposuction also shapes (contours) these areas. <br><br>                            Liposuction is used to remove fat from areas of the body that haven’t responded to diet and exercise, such as the:
                    </p>
                    <ul>
                        <li>Abdomen</li>
                        <li>Arms</li>
                        <li>Buttocks</li>
                        <li>Calves and ankles</li>
                        <li>Chest and back</li>
                        <li>Hips and thighs</li>
                        <li>Neck</li>
                    </ul>
                    <h4>Why It’s Done</h4>
                    <p>Liposuction isn’t recommended for people who have conditions that could complicate surgery, including:</p>
                    <ul>
                        <li>Restricted blood flow</li>
                        <li>Coronary artery disease</li>
                        <li>Diabetes</li>
                        <li>A weak immune system</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="prmIm">
                    <div class="owl-carousel banner">
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/liposuction_01.jpg">
                        </div>
                        <div class="slide-items">
                            <img src="~/Content/MainSite/images/liposuction_02.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <h4>Risks</h4>
                <p>As with any major surgery, liposuction carries risks, such as bleeding and a reaction to anesthesia. Possible complications specific to liposuction include:</p>

                <ul>
                    <li> <strong>Contour irregularities.</strong> Your skin might appear bumpy, wavy or withered due to uneven fat removal, poor skin elasticity and unusual healing.</li>
                    <li> <strong>Fluid accumulation.</strong> Temporary pockets of fluid (seromas) can form under the skin. This fluid might need to be drained with a needle.</li>
                    <li>You might feel temporary or permanent numbness in the affected area. Temporary nerve irritation also is possible.</li>
                    <li>Skin infections are rare but possible.</li>
                    <li> <strong>Internal puncture.</strong> Rarely, a cannula that penetrates too deeply might puncture an internal organ. This might require emergency surgical repair.</li>
                    <li> <strong>Fat embolism.</strong> Pieces of loosened fat might break away and become trapped in a blood vessel and gather in the lungs or travel to the brain. A fat embolism is a medical emergency.</li>
                    <li> <strong>Kidney and heart problems.</strong> Shifts in fluid levels as fluids are being injected and suctioned out can cause potentially life-threatening kidney and heart problems.</li>
                </ul>
                <p>The risk of complications increases if the surgeon is working on larger surfaces of your body or doing multiple procedures during the same operation. Talk to your surgeon about how these risks apply to you.</p>

                <h4>Food And Medications</h4>
                <p>Before the procedure, discuss with your surgeon what to expect from the surgery. Review your medical history, list any medical conditions you have, and tell the surgeon about any medications, supplements or herbs you’re taking. <br><br>                        Your surgeon will recommend that you stop taking certain medications, such as blood thinners or NSAIDs, at least two weeks prior to surgery.</p>

                <h4>Other Precautions</h4>
                <p>
                    If your procedure requires the removal of only a small amount of fat, the surgery might be done in an office setting. If a large amount of fat needs to be removed — or if you plan to have other procedures done at the same time — the
                    surgery might take place in a hospital followed by an overnight stay. In either case, arrange for someone to drive you home after the procedure.
                </p>

                <h4>After The Procedure</h4>
                <p>
                    Expect some pain, swelling and bruising after the procedure. Your surgeon might prescribe medication to help control pain and antibiotics to reduce the risk of infection. You also might need to wear tight compression garments, which
                    help reduce swelling, for a few weeks.<br><br> Typically, recovery is relatively quick after liposuction:
                </p>
                <ul>
                    <li>You can expect to start moving around (short, easy walks) as soon as you feel ready. This will also help reduce the risk of blood clots.</li>
                    <li>
                        Most people will be able to go back to work within a few days. You’ll be able to resume your normal activities (including moderate exercise) in about two weeks, though you’ll need to wait roughly six weeks for more strenuous workouts
                        (like heavy lifting).
                    </li>
                    <li>You will need to wear a compression garment to minimize swelling and encourage your skin to contract and heal.</li>
                </ul>

                <h4>Results</h4>
                <p>
                    After liposuction, swelling typically subsides within a few weeks. By this time, the treated area should look less bulky. Within several months, expect the treated area to have a leaner appearance. <br><br> Liposuction results are
                    generally long lasting if you maintain your weight. If you gain weight after liposuction, your fat distribution might change. For example, you might accumulate fat around your abdomen regardless of what areas were originally treated.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 faq">
                <h5>Frequently Asked Questions</h5>
                <span>Where and how big are the incisions for liposuction?</span>
                <p>
                    The incisions are usually placed within the natural folds of the skin so that they are virtually undetectable after healing has progressed. The parts of the body that are treated determine where the incisions are placed. The incisions
                    will vary between 1⁄8″ up to 1⁄2″ inch depending on the type of cannula and technique used.
                </p>

                <span>How much weight difference will there be after liposuction surgery?</span>
                <p>
                    Fat tissue is not extremely dense or very heavy, thus removing three to five liters of fat from your body will not result in significant weight loss. The difference will be in your body contour, usually in inches and how your clothes
                    fit. You may even initially gain a small amount of weight in the immediate postoperative period due to fluid that is given during surgery. Liposuction is not a treatment for obesity, but it can permanently change body proportion
                    and eliminate fat deposits that do not respond to diet or exercise.
                </p>

                <span>How much bruising and swelling is there in the immediate postop period and how are garments used?</span>
                <p>
                    Liposuction of the soft tissues produces a fair amount of bruising and swelling. Compression garments or elastic bandages are extremely helpful in controlling and minimizing swelling. Usually, garments are worn anywhere from two weeks
                    to three months depending on the areas treated. You may remove the garments to bathe.<br><br> During the first week, the swelling will be greatest and then gradually subside. After several weeks, your bruises will fade and disappear,
                    and your sensation will return to normal. You may return to non-strenuous work after a week and resume your normal exercise and activities after two to three weeks
                </p>
            </div>
        </div>
    </div>
</section>


<section class="prhC-cnt">
    <div class="cus-container">
        <div class="row">
            <div class="col-md-9">
                <div class="enqTl">
                    Enquire Now
                </div>
                <div class="sbTl">
                    <ul class="value-ftr">
                        <li><strong>E </strong> <span> xceptional</span></li>
                        <li><strong>L </strong> <span> uxurious</span></li>
                        <li><strong>I </strong> <span> nnovative</span></li>
                        <li><strong>T </strong> <span> eamwork</span></li>
                        <li><strong>E </strong> <span> xellence </span></li>
                    </ul>
                    <ul class="value-ftr">
                        <li><strong>C </strong> <span> ommitment </span></li>
                        <li><strong>A </strong> <span> countability</span></li>
                        <li><strong>R </strong> <span> espect</span></li>
                        <li><strong>E </strong> <span> ngagement </span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="enqBtn">
                    <a href="tel:+974 44 960 960">Call Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

