
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BookingLayout.cshtml";
}

<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            <h2 class="mn-hd">My Loyalty Points</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="lp-wraper-lt">
                <div class="lp-top">
                    <img src="~/Content/Site/Booking/images/loylity-img.png" alt="">
                    <div class="lp-tp-dtl">
                        <h4>My Loyalty Points</h4>
                        <p>Muhammed Adam</p>
                    </div>
                </div>
                <div class="lp-mid">
                    <div class="lp-points">
                        Points
                        <span>20000</span>
                    </div>
                    <div class="lp-amts">
                        <small>QAR</small>
                        <span>200.00</span>
                    </div>
                </div>
                <div class="lp-bottom">
                    <img src="~/Content/Site/Booking/images/barcode.jpg" alt="">
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="lp-wraper-rt">
                <h4>Transaction History</h4>

                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">SI. NO</th>
                            <th scope="col">Details</th>
                            <th scope="col">Date</th>
                            <th class="text-right" scope="col">Loyalty Points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1.</th>
                            <td>
                                <p>Meso threads</p>
                                <small>Redeemed -</small> <span>750</span>
                            </td>
                            <td class="tdate">20 NOV 2020</td>
                            <td class="amt minz">-800</td>
                        </tr>
                        <tr>
                            <th scope="row">2.</th>
                            <td>
                                <p>Face threads</p>
                                <small>QAR Spent -</small> <span>6,000</span>
                            </td>
                            <td class="tdate">15 OCT 2020</td>
                            <td class="amt pluz">+60</td>
                        </tr>
                        <tr>
                            <th scope="row">3.</th>
                            <td>
                                <p>Female Laser - Under Arms </p>
                                <small>QAR Spent - </small> <span>750</span>
                            </td>
                            <td class="tdate">15 OCT 2020</td>
                            <td class="amt minz">
                                -QAR 18.00
                            </td>
                        </tr>
                    </tbody>
                </table>
                <a class="viwm" href="#">VIEW MORE</a>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#sidenav ul li").removeClass("active");
        $("#menuRewards").addClass("active");
    });
</script>

